<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pknu.blog.dao.MainDao">

	<resultMap type="com.pknu.blog.dto.MemberDto" id="memberMap">
		<id property="userId" column="userid"/>
		<result property="userId" column="userid"/>
		<result property="userPw" column="userpw"/>
		<result property="userName" column="username"/>
		<result property="enabled" column="enabled"/>
		<result property="regdate" column="regdate"/>
		<result property="updateDate" column="updatedate"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="com.pknu.blog.dto.MemberAuthDto" id="authMap">
		<result property="userId" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select mem.userid,userpw,username,enabled,regdate,updatedate,auth
		from member mem LEFT OUTER JOIN member_auth auth on mem.userid=auth.userid
		where mem.userid=#{userId}
	</select>
	
	<select id="getTotla" resultType="int">
		select count(*)
		from board
	</select>
	
<!-- 	<select id="getBoard" parameterType="criteria" resultType="boardDto"> -->
<!-- 		select BOARDNUM,BOARDTITLE,SIDETITLE,BOARDCONTENT,BOARDDATE,USERID,CATEGORY,URL -->
<!-- 		from board natural join board_file -->
<!-- 		group by BOARDNUM -->
<!-- 		order by BOARDNUM desc -->
<!-- 		limit #{pageStart},#{amount} -->
<!-- 	</select> -->
	
	<select id="getBoard" parameterType="criteria" resultType="boardDto">
		select b.BOARDNUM,b.BOARDTITLE,b.SIDETITLE,b.BOARDCONTENT,b.BOARDDATE,b.USERID,b.CATEGORY,bfile.url
		from board b left outer join board_file bfile on b.boardnum=bfile.boardnum
		group by b.BOARDNUM
		order by b.BOARDNUM desc
		limit #{pageStart},#{amount}
	</select>
	
	<select id="getContent" parameterType="int" resultType="boardDto">
		select * 
		from board
		where BOARDNUM=#{boardNum};
	</select>
	
	<insert id="insertSelectKey" parameterType="boardDto">
		insert into board(BOARDTITLE,BOARDCONTENT,SIDETITLE,USERID,CATEGORY) 
		values(#{boardTitle},#{boardContent},#{sideTitle},#{userId},#{category})
		<selectKey resultType="int"  keyProperty="boardNum" order="AFTER" keyColumn="BOARDNUM">
			select LAST_INSERT_ID() 
			from DUAL
		</selectKey>
	</insert>
	
	<insert id="insertAttach" parameterType="boardFileDto">
		insert into board_file(BOARDNUM,ORIGINAL_FILE_NAME,STORED_FILE_NAME,FILE_SIZE,FILEPATH,URL)
		values(#{boardNum},#{original_File_Name},#{stored_File_Name},#{file_Size},#{filePath},#{url})
	</insert>
	
	<insert id="memberSing" parameterType="map">
		insert into member(userid,userpw,username) values(#{memberDto.userId},#{memberDto.userPw},#{memberDto.userName})
	</insert>
	<insert id="memberAuth" parameterType="map">
		insert into member_auth(userid,auth) values(#{memberAuthDto.userId},#{memberAuthDto.auth})
	</insert>

</mapper>