<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pknu.blog.dao.MainDao">

	<resultMap type="com.pknu.blog.dto.MemberDto" id="memberMap">
		<id property="userId" column="userid"/>
		<result property="userId" column="userid"/>
		<result property="userPw" column="userpw"/>
		<result property="userName" column="username"/>
		<result property="enabled" column="enabled"/>
		<result property="regdate" column="regdate"/>
		<result property="updateDate" column="updatedate"/>
		<collection property="authList" resultMap="authMap"></collection>
	</resultMap>
	<resultMap type="com.pknu.blog.dto.MemberAuthDto" id="authMap">
		<result property="userId" column="userid"/>
		<result property="auth" column="auth"/>
	</resultMap>
	
	<select id="read" resultMap="memberMap">
		select mem.userid,userpw,username,enabled,regdate,updatedate,auth
		from member mem LEFT OUTER JOIN member_auth auth on mem.userid=auth.userid
		where mem.userid=#{userId}
	</select>
	
	<insert id="insertSelectKey" parameterType="boardDto">
		insert into board(BOARDTITLE,BOARDCONTENT,USERID,CATEGORY) 
		values(#{boardTitle},#{boardContent},#{userId},#{category})
		<selectKey resultType="int"  keyProperty="boardNum" order="AFTER" keyColumn="BOARDNUM">
			select LAST_INSERT_ID() 
			from DUAL;
		</selectKey>
	</insert>
	
	<insert id="insertAttach" parameterType="boardFileDto">
		insert into board_file(BOARDNUM,ORIGINAL_FILE_NAME,STORED_FILE_NAME,FILE_SIZE,FILEPATH,URL)
		values(#{boardNum},#{original_File_Name},#{stored_File_Name},#{file_Size},#{filePath},#{url})
	</insert>
	
	<insert id="memberSing" parameterType="map">
		insert into member(userid,userpw,username) values(#{memberDto.userId},#{memberDto.userPw},#{memberDto.userName})
	</insert>
	<insert id="memberAuth" parameterType="map">
		insert into member_auth(userid,auth) values(#{memberAuthDto.userId},#{memberAuthDto.auth})
	</insert>

</mapper>